<head>
    <meta name="google-site-verification" content="q-zI9EtVjhpxON7N7lzhP5SdALNprf2BjEJjLbxITGA" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://use.typekit.net/eji0nuo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" href="assets/iOS-icon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
