@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $light-text-color;
    background-color: red;
    -webkit-text-size-adjust: 100%;
}

/**
 * General element
 */
.rounded-button {
  height: 62px;
  font-size: 14px;
  background-color:white;
  color: $light-blue-text-color;
  padding: 20px 40px;
  border: none;
  border-radius: 31px;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

.dark-content {
  color: $dark-text-color;
}

div.container {}

// Redo header
//div.background-image {
  //@include size(1198px 470px);
  //@include retina-image("../assets/sthlm", 1198px 470px);
//}

div.header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 150px;
  @include media($mobile) {
    margin-bottom: 70px;
  }

  div.logo {
    @include size(86px 51px);
    @include retina-image("../assets/bowtie", 86px 51px);

    margin-left: auto;
    margin-right: auto;
  }

  h1.title {
    margin-top: 100px;
    @include media($mobile) {
      margin-top: 50px;
    }

    font-size: 30px;
  }

  p.subtitle {
    font-size: 10px;
  }

  button.header-button {
    margin-top: 40px;
  }
}

div.section {
  h5 {
    text-align: center;
    padding-top:80px;
    margin-bottom:80px;
    @include media($mobile) {
      padding-top:20px;
      margin-bottom:20px;
    }
  }
}

div.grid-wrapper {
  @include outer-container;

  div.grid-item {
    div.grid-item-image {
      margin-left: auto;
      margin-right: auto;
    }

    h4.grid-item-title {
      text-align: center;
    }

    p.grid-item-subtitle {
      text-align: center;
    }
  }
}

div#first {
  background-color:$light-blue-background-color;

  div#platforms {
    div.grid-item {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
    div#ipad-item div.grid-item-image {
      @include size(64px 128px);
      @include retina-image("../assets/ipad", 64px 128px);
    }
    div#mac-item div.grid-item-image {
      @include size(168px 116px);
      @include retina-image("../assets/mac", 168px 116px);
    }
    div#iphone-item div.grid-item-image {
      @include size(64px 113px);
      @include retina-image("../assets/iphone", 64px 113px);
    }
  }
}

div#second {
  background-color: $light-yellow-background-color;

  div#whoweare {
    div.grid-item {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
    div#marcus-item div.grid-item-image {
      @include size(303px 256px);
      @include retina-image("../assets/marcus", 303px 256px);
    }
    div#simon-item div.grid-item-image {
      @include size(303px 256px);
      @include retina-image("../assets/simon", 303px 256px);
    }
  }
}
