@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "mixins";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $light-text-color;
    background-color: red;
    -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 48px;

  @include media($mobile) {
    font-size: 34px;
  }
}

h2 {
  font-size: 38px;

  @include media($mobile) {
    font-size: 28px;
  }
}

p {
  font-weight: normal;
  font-size: 16px;
  @include media($mobile) {
    font-weight: thin;
    font-size: 14px;
  }
}

/**
 * General element
 */
.rounded-button {
  height: 62px;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 60px;
  border-radius: 31px;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

.white-button {
  background-color:white;
  color: $light-blue-text-color;
  border: none;
}

.light-blue-transparent-button {
  background-color: Transparent;
  color: $light-blue-text-color;
  border: 2px solid $light-blue-text-color;
}

.input-field {
  opacity:.7;
  font-size: 14px;
  border: 2px solid $light-blue-text-color;
  border-radius: 2px;
  background-color: $dark-blue-background-color;
  color: white;
  padding: 10px;
  text-align: center;

  @include placeholder {
    color: $light-blue-text-color;
  }

  &:focus {
    opacity:1;
  }
}

.dark-content {
  color: $dark-text-color;
}

.container {}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  @include media($mobile) {
    padding-top:20px;
    padding-bottom:20px;
  }

  h5 {
    margin-bottom:80px;

    @include media($mobile) {
      margin-bottom:20px;
    }
  }
}

.grid-wrapper {
  @include outer-container;

  .grid-item {
    .grid-item-image {
      margin-left: auto;
      margin-right: auto;
    }

    .grid-item-title {
      margin-top: 30px;
      text-align: center;

      @include media($mobile) {
        margin-top:15px;
      }
    }

    .grid-item-subtitle {
      text-align: center;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      opacity: .8;
    }
  }
}

#first {
  padding-top: 40px;

  background-color:$light-blue-background-color;

  .background-image-wrapper {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -599px;

    @include media($mobile) {
      top: 60px;
    }
  }

  .background-image {
    @include retina("../assets/sthlm", 1198px 470px);

    opacity: .7;
    max-width: 100%;
    overflow: hidden;
  }

  .header {
    position: relative;
    z-index: 10;

    margin-bottom: 130px;
    @include media($mobile) {
      margin-bottom: 70px;
    }

    .logo {
      @include retina("../assets/bowtie", 86px 51px);

      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      margin-top: 100px;
      @include media($mobile) {
        margin-top: 50px;
      }
    }

    #header-button {
      margin-top: 40px;
    }
  }

  #platforms {
    position: relative;
    z-index: 10;

    .grid-item {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
    #ipad-item div.grid-item-image {
      @include retina("../assets/illustration-ipad", 200px 160px);
    }
    #mac-item div.grid-item-image {
      @include retina("../assets/illustration-macbook", 200px 160px);
    }
    #iphone-item div.grid-item-image {
      @include retina("../assets/illustration-iphone", 200px 160px);
    }
  }
}

#second {
  background-color: $bone-white-background-color;

  #howwemakeit {
    div.grid-item {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
    #design-item .grid-item-image {
      @include retina("../assets/illustration-design", 200px 160px);
    }
    #magic-item .grid-item-image {
      @include retina("../assets/illustration-magic", 200px 160px);
    }
    #development-item .grid-item-image {
      @include retina("../assets/illustration-development", 200px 160px);
    }
  }
}

#third {
  background-color: $light-yellow-background-color;

  #whoweare {
    .grid-item {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
    #marcus-item .grid-item-image {
      @include retina("../assets/marcus", 303px 256px);
    }
    #simon-item .grid-item-image {
      @include retina("../assets/simon", 303px 256px);
    }

    .grid-item-socials {
      margin-top: 20px;

      .social {
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
      }
      .dribbble {
        @include retina("../assets/dribbble-avatar", 28px 28px);
      }
      .twitter {
        @include retina("../assets/twitter-avatar", 28px 28px);
      }
      .github {
        @include retina("../assets/github-avatar", 28px 28px);
      }
    }
  }
}

#fourth {
  background-color: $bone-white-background-color;

  p {
    max-width: 540px;

    padding-left: 20px;
    padding-right: 20px;
    @include media($mobile) {
      padding-left: 10px;
      padding-right: 10px;
    }

    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    @include media($mobile) {
      margin-top: 20px;
    }
  }
}

#fifth {
  position: relative;
  min-height: 100vh;
  background-color: $dark-blue-background-color;

  h5 {
    margin-bottom: 20px;
  }

  .socials {
    margin-bottom: 60px;
    @include media($mobile) {
      margin-bottom: 20px;
    }
  }

  .social {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  .dribbble {
    @include retina("../assets/dribbble", 28px 28px);
  }
  .twitter {
    @include retina("../assets/twitter", 28px 28px);
  }
  .github {
    @include retina("../assets/github", 28px 28px);
  }

  .mail-logo {
    @include retina("../assets/mail", 72px 97px);

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
  }

  input {
    @include span-columns(6);
    @include shift(3);

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }

    font-size: 12px;

    height: 60px;
    margin-bottom: 40px;
  }

  button {
    margin-top: 40px;
  }

  .email-text {
    margin-top: 40px;
    color: $light-blue-text-color;
    font-size: 12px;

    a {
      color: $light-text-color;
      text-decoration: none;
    }
  }

  .made-by {
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;

    color: $light-blue-text-color;
    font-size: 11px;
  }
}
